footer {
    background-color: #666;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 70px;
    justify-content: space-between;
    align-items: flex-end;
    h3 {
        margin: 0;
        color: #fff;
        text-align: right;
        font-size: 32px;
    }
    p {
        margin: 20px 0 0 0;
        color: #b3b3b3;
    }
    a {
        text-decoration: none;
        color: #fff;
        border-right: 2px solid #fff;
        padding: 0 10px;
    }
    a:first-child {
        padding-left: 0;
    }
    .footer-info {
        flex: 85%;
    }
    .footer-heading {
        flex: 10%;
    }
    .link-group {
        display: inline-block;
        margin: 5px 0;
    }
}