nav {
  background-color: #d3135a;
  padding: 20px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 76px;
  align-items: flex-end; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-bottom-list {
  display: flex;
  flex-wrap: wrap; }
  .nav-bottom-list li {
    position: relative; }
  .nav-bottom-list a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 18px; }
  .nav-bottom-list a:hover {
    color: #333; }

.triangle {
  width: 100px;
  height: 100px;
  background-color: #4d4d4d;
  position: absolute;
  transform: rotate(45deg);
  top: 48px; }

.dropdown-list {
  position: absolute;
  background-color: #4d4d4d;
  width: 160px;
  left: -24px;
  top: 41px; }
  .dropdown-list li {
    padding: 10px 6px 5px 8px; }
  .dropdown-list a {
    margin: 0;
    font-size: 14px; }
  .dropdown-list a:hover {
    color: #fff; }
  .dropdown-list li:hover {
    background-color: #666; }

.nav-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: stretch; }

.nav-header {
  display: flex;
  flex-wrap: wrap; }
  .nav-header h1 {
    margin: 0;
    font-size: 48px;
    color: #ffc2dd; }

.nav-top-list {
  text-align: right; }
  .nav-top-list a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    margin-left: 12px; }

.menuTrigger-responsive {
  align-self: flex-end;
  margin-left: 20px;
  color: #ffc2dd;
  display: none;
  cursor: pointer; }
  .menuTrigger-responsive .material-icons {
    font-size: 30px; }

.hide {
  display: none; }

p {
  color: #4b4b4b;
  margin: 0; }

.flex-wraper {
  display: flex;
  flex-wrap: wrap;
  padding: 36px 70px 20px 70px;
  line-height: 1.4em; }
  .flex-wraper h2, .flex-wraper h3 {
    font-family: "Times New Roman", Times, serif; }

.page-bottom {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
  margin-top: 20px; }
  .page-bottom p {
    flex: 28%;
    padding: 24px 18px; }

.page-left {
  flex: 70%;
  display: flex;
  flex-wrap: wrap; }

.page-right {
  flex: 30%; }
  .page-right h3 {
    margin: 0;
    font-size: 24px; }

.main-article {
  background-color: #fff;
  flex: 100%;
  margin-bottom: 20px; }
  .main-article h2 {
    font-size: 32px;
    line-height: 1em;
    margin: 24px 18px 20px; }
  .main-article p {
    font-size: 16px;
    color: #4d4d4d;
    margin: 0 18px 30px; }

.small-article {
  background-color: #fff;
  flex: 42%;
  padding: 24px 18px; }
  .small-article p, .small-article h3 {
    margin: 0; }

div.small-article {
  margin-right: 20px; }

article.small-article h3 {
  font-size: 20px; }
article.small-article p {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  color: #0071bc; }
article.small-article p:last-child {
  border: none; }

.page-right-wrap {
  padding: 0 0 0 20px; }
  .page-right-wrap p {
    border-top: 2px solid black;
    padding-top: 16px;
    margin: 20px 0; }

form {
  border: 1px solid #898989;
  padding: 20px; }
  form input {
    width: 100%;
    height: 30px; }
  form input::placeholder {
    padding-left: 10px; }
  form textarea {
    width: 100%;
    min-height: 130px;
    resize: none; }

.form-group {
  margin-bottom: 20px; }

button {
  color: #fff;
  background-color: #d3135a;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  letter-spacing: 0.2em;
  font-family: 'Ubuntu', sans-serif; }

.error {
  color: #4b4b4b;
  font-style: italic;
  display: none;
  font-size: 14px;
  line-height: initial; }

footer {
  background-color: #666;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 70px;
  justify-content: space-between;
  align-items: flex-end; }
  footer h3 {
    margin: 0;
    color: #fff;
    text-align: right;
    font-size: 32px; }
  footer p {
    margin: 20px 0 0 0;
    color: #b3b3b3; }
  footer a {
    text-decoration: none;
    color: #fff;
    border-right: 2px solid #fff;
    padding: 0 10px; }
  footer a:first-child {
    padding-left: 0; }
  footer .footer-info {
    flex: 85%; }
  footer .footer-heading {
    flex: 10%; }
  footer .link-group {
    display: inline-block;
    margin: 5px 0; }

@media screen and (max-width: 1040px) {
  .page-left {
    order: 1;
    flex: 100%; }

  .page-right {
    order: 3;
    flex: 100%;
    margin-top: 20px; }

  .page-right-wrap {
    padding: 0;
    display: flex; }
    .page-right-wrap .aside-text {
      flex: 40%;
      padding-right: 20px; }
    .page-right-wrap form {
      flex: 50%; }

  .page-bottom {
    order: 2; } }
@media screen and (max-width: 880px) {
  .page-bottom {
    padding: 12px 0; }
    .page-bottom p {
      flex: 100%;
      padding: 12px 18px; }

  nav {
    padding: 20px 40px; }

  .flex-wraper {
    padding: 36px 20px 20px; }

  footer {
    padding: 20px; } }
@media screen and (max-width: 715px) {
  .page-left .small-article {
    flex: 100%;
    margin: 0 0 20px 0; }

  .page-bottom {
    margin: 0; }

  .page-right-wrap {
    flex-wrap: wrap; }
    .page-right-wrap .aside-text {
      flex: 100%;
      padding-right: 20px; }
    .page-right-wrap form {
      flex: 100%; }

  footer .footer-info {
    flex: 100%; }
  footer .footer-heading {
    flex: 100%;
    margin-top: 20px; }
  footer h3 {
    text-align: left; } }
@media screen and (max-width: 702px) {
  .nav-top-list {
    text-align: left; }
    .nav-top-list a:first-child {
      margin: 0; }

  .dropdown-link a:first-of-type {
    margin: 0; }

  .nav-header {
    flex: 100%; } }
@media screen and (max-width: 512px) {
  .menuTrigger-responsive {
    display: block; }

  .nav-header {
    justify-content: center; }

  .nav-content {
    display: none;
    position: absolute;
    top: 115px;
    background-color: #d3135a;
    left: 0;
    right: 0; }

  .nav-top-list {
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff26; }

  .nav-bottom-list > li {
    flex: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ffffff1f; }
    .nav-bottom-list > li a {
      margin: 0; }

  .dropdown-list {
    left: 32%;
    top: 42px;
    z-index: 10; }

  .triangle {
    width: 50px;
    height: 50px;
    top: 40px;
    left: 42%; } }
@media screen and (max-width: 425px) {
  nav {
    padding: 20px; }

  .flex-wraper {
    padding: 20px; }

  footer {
    padding: 20px; } }
body {
  background-color: #e6e6e6;
  margin: 0;
  font-family: 'Ubuntu', sans-serif; }

.show {
  display: block; }

.invalid {
  border: 1px solid red; }

.valid {
  border: 1px solid green; }

/*# sourceMappingURL=style.css.map */
